# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.fdb_latexmk

**/env.tex
env.json

# Compilation files
*.dvi
*.pdf
*.ps
*.synctex.gz

# Navigation and animation files
*.nav
*.snm
*.vrb

# Temporary files
*~
*.bak
*.tmp

# Directories that might contain build artifacts
_build/
build/

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
.env/
.venv/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# PyInstaller
*.spec

# Test and coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Sphinx documentation
docs/_build/

# IDE config
.vscode/*
!.vscode/latex.code-snippets

# Logs
*.log